doctype html
html
    head 
        title 
        meta(chardet="UTF-8")
        
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    body 
        header Excali Draw Images
        .contentwrapper
            block content
        footer 
        
